PORT=4000

# MySQL (Aiven) - use a "URI do serviço" mostrada no painel do Aiven
DATABASE_URL=mysql://avnadmin:SENHA@HOST:PORTA/defaultdb

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
