PORT=4000

# PostgreSQL (Aiven) - use a "URI do serviço" mostrada no painel do Aiven
DATABASE_URL=postgres://avnadmin:SENHA@HOST:PORTA/defaultdb?sslmode=require

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
